.quiz {
    background-image: linear-gradient(to bottom right,#18c1ff,#5900ff);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    width: 50%;
    margin-top: 5%;
    border-radius: 10px;
}